*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}


.help-container{
    background-color: #fff;
    background-size: cover;
    height: 100vh;
  
}

.help-container h1{
    text-align: center;
    margin-top: 90px;
    font-weight: 300;
    font-size: 65px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.flex-container2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-left: 10px;
    margin-top: 90px;
}

.box{
    width: 20%;
    height: 400px;
    /* background: yellow; */
    margin: 10px;
    box-sizing: border-box;
    font-size: 23px;
}

.box img{
    width: 194px;
   height: 167px;
    border-radius: 50%;
    border: 10px solid #fffed3;
}

.title h2{
    font-family: Reem Kufi;
    font-weight: 200;
    font-size: 45px;
    margin-top: 10px;
    color: #000;
}

.para{
    margin-top: 10px;
    font-size: 18px;
    line-height: 27px;
}
@media screen and (max-width: 1200px){
    .box{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    .box{
        width: 90%;
    }
    .help-container h1{
        font-size: 46px;
    }
    .title h2{
        font-size: 40px;
    }
}

